<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <title>Check in</title>
</head>
<style>
#box{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border-style: solid;
    border-color: white;
    margin-top: 20%;
}
h1{
    color: white;
    text-align: center;
    margin-top: 4%;
}
</style>
<body background="assets/home1.jpeg">
        <header class="container">
            <div id="box" >
                <h1>Data Penginap</h1>
                <form style="margin:10%;">
                        <div class="form-group">
                          <label for="namaLengkap" style="color: white">Nama Lengkap</label>
                          <input type="text" class="form-control" id="namaLengkap"  placeholder="Nama Lengkap" required>
                        </div>
                        <div class="form-group">
                            <label for="nik" style="color: white">NIK</label>
                            <input type="text" class="form-control" id="NIK"  placeholder="NIK" required>
                          </div>
                        <div class="form-group">
                          <label for="noKamar" style="color: white">Kamar</label>
                          <input type="text" class="form-control" id="noKamar"  placeholder="Nomor Kamar" required>
                        </div>
                        <div class="form-group">
                            <label for="fasilitas" style="color: white">Durasi (hari)</label>
                            <input type="text" class="form-control" id="fasilitas"  placeholder="Durasi" required>
                        </div>
                        <div class="form-group">
                            <label for="fasilitas" style="color: white">Fasilitas</label>
                            <input type="text" class="form-control" id="fasilitas"  placeholder="Fasilitas" required>
                          </div>
                        <div class="form-group">
                            <label for="fasilitas" style="color: white">Durasi (malam)</label>
                            <input type="text" class="form-control" id="fasilitas"  placeholder="Durasi" required>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-left: 40%; margin-top: 5%">Submit</button>
                      </form>
            </div>
        </header>
</body>
</html>