<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
                <div class="container">
                  <a class="navbar-brand js-scroll-trigger" href="#home"><p style="color: beige; ">Hotel Horizon Bandung </p></a>
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="color: beige;"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#home"><p style="color: beige; ">Home</p></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#checkIn"><p style="color: beige;">Check In</p></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#checkOut"><p style="color: beige;">Check Out</p></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#kamar"><p style="color: beige;">Kamar</p></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#fasilitas"><p style="color: beige;">Fasilitas</p></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#laporan"><p style="color: beige;">Laporan</p></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#setting"><p style="color: beige;">Setting</p></a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
            </nav>    
</body>
</html>