<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
</head>
<style>
p{
    color: white;
    font-size: 60px;
}
.row{
    position: relative;
    text-align: center;
}
</style>
<body background="assets\home1.jpeg">
    <div class="container" >
        <p style="text-align: center; margin-bottom: 10%; margin-top: 10%;">Sistem Informasi Hotel Telkom</p>
        <div class="row rowhotel" style="margin-bottom:5%;">
            <span class="col-sm-4" style="margin: 5%%;"><img src="assets/icon_hotel_impal/icons/checkin_en1.png"></span>
            <span class="col-sm-4" style="margin: 5%;"><img src="assets/icon_hotel_impal/icons/checkin_en1.png"></span>
            <span class="col-sm-4" style="margin: 5%;"><img src="assets/icon_hotel_impal/icons/checkin_en1.png"></span>
        </div>
        <div class="row">
            <span class="col-sm-4" style="margin: 5%;"><img src="assets/icon_hotel_impal/icons/checkin_en1.png"></span>
            <span class="col-sm-4" style="margin: 5%;"><img src="assets/icon_hotel_impal/icons/checkin_en1.png"></span>
            <span class="col-sm-4" style="margin: 5%;"><img src="assets/icon_hotel_impal/icons/checkin_en1.png"></span>
        </div>

    </div>
    
</body>
</html>