<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
</head>
<style>
p{
    color: white;
    font-size: 60px;
}
.row{
    position: relative;
    text-align: center;
}
</style>
<body background="assets\home1.jpeg">
    <div class="container" >
        <p style="text-align: center; margin-bottom: 10%; margin-top: 10%;">Sistem Informasi Hotel Telkom</p>
        <div class="row rowhotel" style="margin-bottom:5%;">
            <span class="col-sm-4"><img width="40px" height="30px;" src="assets/icon_hotel_impal/icons/checkin_en1.png"></span>>
            <span class="col-sm-4" > <p>Menu 2</p> </span>>
            <span class="col-sm-4"><p>Menu 3</p></span>
        </div>
        <div class="row">
            <div class="col-sm-4"><p>Menu 4</p></div>
            <div class="col-sm-4"><p>Menu 5</p></div>
            <div class="col-sm-4"><p>Menu 6</p></div>
        </div>

    </div>
    
</body>
</html>